html,
        body {
            margin: 0;
            padding: 0;
            color: rgb(78, 88, 96);
            font-family: 'FF Tisa', Georgia, serif;
            font-size: 18px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 28px;
            text-align: start;
            -webkit-text-stroke-width: 0px;
            -moz-text-stroke-width: 0px;
            display: inline !important;
            height: 100%;
        }
        b{
            color:#0e88db;

        }
        #container {
            min-height: 100%;
            position: relative;
        }

        #header {
            
            height:50px;
            text-align: center;
            padding: 5px;
        }

        #body {
            padding: 10px;
            padding-bottom: 60px; /* Height of the footer */
            padding-left: 25px;
            padding-right: 25px;
            font-size: 20px;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px; /* Height of the footer */
            background: #0e88db;
            color:#ffffff;
            
        }
        img {
            margin: 0px auto;
            float: none;
            border: 5px solid white;
            
        }


        @media screen and (max-width: 1100px) {
             h1 {
                font-size: 1.3rem;
            }

            p {
                /* reducing base font size will reduce all rem sizes */
                font-size: 16px;
            }
            img {
                width: 550px;
            }
        }

        @media screen and (max-width: 900px) {
             h1 {
                font-size: 1.2rem;
            }

            p {
                /* reducing base font size will reduce all rem sizes */
                font-size: 14px;
            }
            img {
                width: 550px;
            }
        }

        @media screen and (max-width: 820px) {
            img {
                width: 480px;
            }
        }

        @media screen and (max-width: 740px) {
           
            
            img {
                width: 430px;
            }
        }

        @media screen and (max-width: 620px) {
            h1 {
                font-size: 1.2rem;
            }

            p {
                /* reducing base font size will reduce all rem sizes */
                font-size: 13px;
            }



            img {
                width: 320px;
            }

            #footer {
                font-size: 11px;
            }
        }


        ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ul#tabs li {
    display: inline-block;
    background-color: #0e88db;
    border-bottom: solid 5px #000000;
    padding: 5px 20px;
    margin-bottom: 4px;
    color: #fff;
    cursor: pointer;
}
ul#tabs li:hover {
    background-color: #a8d1ec;
}
ul#tabs li.active {
    background-color: #a8d1ec;
}
ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li {
    display: none;
}
ul#tab li.active {
    display: block;
}